PHASE-1-PROJECT

Introduction

The following is my end of phase project. For this project, i am required to use data cleaning,data analysis, and data visualization skills i have learned in this phase to generate meaningful insights for a company. The Company is venturing into an airplane business for commercial and private enterprises but has no knowledge on potential risks. For my role as a data scientist, I am required to apply my skills to assist the company determine the lowest risk type of aircraft that should be purchased to start this business.

Data

For this project i will be using data from a dataset provided by the National Transportation Safety Board. It entails aviation accident data from 1919 to 2023, civil aviation accidents and selected incidents in the US (including the specific regions that accidents occured) and international waters.
Below i am about to begin my data cleaning process with Pandas library:

1:Importing Pandas

In [391]:
import pandas as pd

2:Loading the Dataset which is a CSV file titled 'Aviation Accident from 1919-2023'. Here Pandas will read the files and give me information on the dataset for a better understanding of the data to help in manipulation and data cleaning processes.

In [392]:
df = pd.read_csv('aviation-accident-data-2023-05-16.csv')
df

,date,type,registration,operator,fatalities,location,country,cat,year
0,date unk.,Antonov An-12B,T-1206,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
1,date unk.,Antonov An-12B,T-1204,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
2,date unk.,Antonov An-12B,T-1201,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
3,date unk.,Antonov An-12BK,NaN,Soviet AF,NaN,Tiksi Airport (IKS),Russia,A1,unknown
4,date unk.,Antonov An-12BP,CCCP-11815,Soviet AF,0,Massawa Airport ...,Eritrea,A1,unknown
...,...,...,...,...,...,...,...,...,...
23962,11-May-23,Hawker 900XP,PK-LRU,Angkasa Super Services,0,Maleo Airport (MOH),Indonesia,A2,2023
23963,11-May-23,Cessna 208B Grand Caravan,PK-NGA,Nasional Global Aviasi,0,Fentheik Airstrip,Indonesia,A2,2023
23964,12-May-23,Cessna 208B Grand Caravan,5X-RBR,Bar Aviation,0,Kampala-Kajjansi...,Uganda,A1,2023
23965,14-May-23,Boeing 747-4R7F,LX-OCV,Cargolux,0,Luxembourg-Finde...,Luxembourg,A2,2023
23966,15-May-23,Learjet 35A,D-CGFQ,GFD,2,Hohn Air Base,Germany,A1,2023

In [393]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23967 entries, 0 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23967 non-null  object
 1   type          23967 non-null  object
 2   registration  22419 non-null  object
 3   operator      23963 non-null  object
 4   fatalities    20029 non-null  object
 5   location      23019 non-null  object
 6   country       23967 non-null  object
 7   cat           23967 non-null  object
 8   year          23967 non-null  object
dtypes: object(9)
memory usage: 1.6+ MB

In [394]:
df.columns

Index(['date', 'type', 'registration', 'operator', 'fatalities', 'location',
       'country', 'cat', 'year'],
      dtype='object')

In [395]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23967 entries, 0 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23967 non-null  object
 1   type          23967 non-null  object
 2   registration  22419 non-null  object
 3   operator      23963 non-null  object
 4   fatalities    20029 non-null  object
 5   location      23019 non-null  object
 6   country       23967 non-null  object
 7   cat           23967 non-null  object
 8   year          23967 non-null  object
dtypes: object(9)
memory usage: 1.6+ MB

In [396]:
df.duplicated().value_counts()

False    23852
True       115
dtype: int64

In [397]:
df = df.drop_duplicates()

In [398]:
df.duplicated().value_counts()

False    23852
dtype: int64

In [399]:
df.isna().sum()

date               0
type               0
registration    1434
operator           4
fatalities      3833
location         932
country            0
cat                0
year               0
dtype: int64

In [417]:
df.loc[:,'registration'] = df['registration'].fillna('Unknown')

In [401]:
df.loc[:, 'location'] = df['location'].fillna('Unknown')

In [402]:
df.loc[:, 'fatalities'] = df['fatalities'].fillna(0)

In [403]:
df.loc[:, 'operator'] = df['operator'].fillna('Unknown')

In [404]:
df.isna().sum()

date            0
type            0
registration    0
operator        0
fatalities      0
location        0
country         0
cat             0
year            0
dtype: int64

In [405]:
df.loc[:,'fatalities'] = pd.to_numeric(df['fatalities'], errors='coerce')

In [416]:
df['year'] = pd.to_numeric(df['year'], errors='coerce')

df = df.dropna(subset=['year'])
df['year'] = df['year'].astype(int)

In [407]:
df.loc[:, categorical_cols] = df[categorical_cols].astype('category')

In [408]:
categorical_cols = ['type', 'operator', 'country', 'location', 'cat']
df[categorical_cols] = df[categorical_cols].astype('category')

In [409]:
print(df.dtypes)

date              object
type            category
registration      object
operator        category
fatalities       float64
location        category
country         category
cat             category
year               int64
dtype: object

In [410]:
df.isna().sum()

date              0
type              0
registration      0
operator          0
fatalities      353
location          0
country           0
cat               0
year              0
dtype: int64

In [411]:
df.dropna(axis=0, inplace=True)

In [412]:
df.isna().sum()

date            0
type            0
registration    0
operator        0
fatalities      0
location        0
country         0
cat             0
year            0
dtype: int64

In [413]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23438 entries, 61 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23438 non-null  object
 1   type          23438 non-null  category
 2   registration  23438 non-null  object
 3   operator      23438 non-null  category
 4   fatalities    23438 non-null  float64
 5   location      23438 non-null  category
 6   country       23438 non-null  category
 7   cat           23438 non-null  category
 8   year          23438 non-null  int64
dtypes: category(5), float64(1), int64(1), object(2)
memory usage: 2.2+ MB

In [414]:
import matplotlib.pyplot as plt
import seaborn as sns