In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/icy/Desktop/Phase-1-Project/aviation-accident-data-2023-05-16.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23967 entries, 0 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23967 non-null  object
 1   type          23967 non-null  object
 2   registration  22419 non-null  object
 3   operator      23963 non-null  object
 4   fatalities    20029 non-null  object
 5   location      23019 non-null  object
 6   country       23967 non-null  object
 7   cat           23967 non-null  object
 8   year          23967 non-null  object
dtypes: object(9)
memory usage: 1.6+ MB

In [4]:
df.columns

Index(['date', 'type', 'registration', 'operator', 'fatalities', 'location',
       'country', 'cat', 'year'],
      dtype='object')

In [5]:
df.dropna(inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18643 entries, 4 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          18643 non-null  object
 1   type          18643 non-null  object
 2   registration  18643 non-null  object
 3   operator      18643 non-null  object
 4   fatalities    18643 non-null  object
 5   location      18643 non-null  object
 6   country       18643 non-null  object
 7   cat           18643 non-null  object
 8   year          18643 non-null  object
dtypes: object(9)
memory usage: 1.4+ MB

In [7]:
df.duplicated().sum()

1